h1, h2, h3 {
  font-family: "Merriweather", serif;
  font-weight: 300; }

p {
  font-family: "Frank Ruhl Libre", serif; }

a {
  font-family: "DM Sans", sans-serif; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

html {
  scroll-behavior: smooth; }

header {
  height: 100vh;
  position: relative; }

header {
  height: 10vh;
  padding: 0 14vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }
  header a {
    color: #4385C0;
    margin: 0 3px;
    transition: all 0.5s; }
    header a i {
      font-size: 22px; }
  header a:hover {
    color: #252525; }

.nav-display-button {
  display: none; }

.nav-close-button {
  display: none; }

nav {
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #4385C0;
  position: sticky;
  top: 0px;
  transition: all 0.5s; }
  nav a {
    margin: 0px 2%;
    font-size: 15px;
    font-weight: 700;
    color: white;
    border-width: 0 0 1.5px 0;
    border-style: solid;
    border-color: rgba(67, 133, 192, 0);
    transition: all 0.5s; }
  nav a:hover {
    border-color: white; }

.transparent-nav {
  background-color: rgba(37, 37, 37, 0.8); }

.transparent-nav-link {
  border-color: rgba(37, 37, 37, 0); }

.main-section {
  height: 80vh;
  width: 100%;
  padding: 0px 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }
  .main-section div {
    height: 90%;
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
  .main-section div:nth-child(1) div {
    height: 50%;
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start; }
    .main-section div:nth-child(1) div h2, .main-section div:nth-child(1) div p {
      text-align: left;
      margin: 10px 0px; }
    .main-section div:nth-child(1) div a {
      color: #4385C0;
      font-family: "Frank Ruhl Libre", serif;
      border-width: 0 0 1.5px 0;
      border-style: solid;
      border-color: white;
      transition: all 0.5s; }
    .main-section div:nth-child(1) div a:hover {
      border-color: #4385C0; }
  .main-section div:nth-child(2) div {
    height: 500px;
    width: 400px;
    background-image: url(../assets/mainpic.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 5px solid #252525;
    border-radius: 500px; }

.bio {
  height: 100vh;
  width: auto;
  padding: 0px 10vw;
  background-color: #8EB7DB;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }
  .bio div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start; }
  .bio h2 {
    margin: 20px 0px; }
  .bio p {
    line-height: 150%; }

section {
  height: 100vh;
  width: auto;
  padding: 0px 10vw; }

.works-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center; }
  .works-container .books-container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .works-container .books-container div {
      height: 90%;
      width: 30%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-around; }
      .works-container .books-container div div {
        height: 85%;
        width: 100%;
        background-color: #686868; }
  .works-container .articles-container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .works-container .articles-container div {
      height: 90%;
      width: 30%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-around; }
      .works-container .articles-container div div {
        height: 85%;
        width: 100%;
        background-color: #686868; }
  .works-container .colabs-container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .works-container .colabs-container div {
      height: 90%;
      width: 30%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-around; }
      .works-container .colabs-container div div {
        height: 85%;
        width: 100%;
        background-color: #686868; }

footer {
  height: 100vh;
  width: auto;
  padding: 0px 10vw;
  background-color: #4385C0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center; }
  footer div {
    height: 90%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center; }
    footer div div {
      height: 100%;
      width: 40%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start; }
      footer div div i {
        color: white;
        margin-right: 5px; }
      footer div div h3, footer div div p, footer div div a {
        padding: 10px 0px;
        color: #252525;
        font-family: "DM Sans", sans-serif; }
      footer div div h3 {
        font-weight: bolder; }
  footer .copyright {
    width: 100vw;
    height: 10%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    color: white;
    font-size: 12px; }
    footer .copyright p {
      font-family: "DM Sans", sans-serif;
      font-weight: lighter; }
    footer .copyright a {
      color: white; }
    footer .copyright a:hover span {
      color: aquamarine;
      transition: all 0.5s; }

@media (max-width: 998px) and (min-width: 768px) {
  header {
    padding: 0px;
    justify-content: space-evenly; }
  section {
    padding: 0px 5vw; }
  .main-section {
    padding: 0px; }
    .main-section div {
      width: 50%; }
    .main-section div:nth-child(2) div {
      height: 330px;
      width: 330px; }
  .bio {
    padding: 0px 5vw; }
  .works-container {
    padding-top: 25px;
    justify-content: center; }
    .works-container .books-container {
      height: 60%; }
    .works-container .articles-container {
      height: 60%; }
    .works-container .colabs-container {
      height: 60%; }
  footer div div h3 {
    font-size: 1rem; }
  footer div div a, footer div div p {
    font-size: 0.8rem; } }

@media (max-width: 768PX) {
  header {
    height: 20vh;
    padding: 0px 15px;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start; }
    header h1 {
      font-size: 2rem; }
    header div a i {
      margin-right: 10px;
      font-size: 2.3em; }
  .nav-display-button {
    height: 0px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 50px; }
    .nav-display-button div {
      height: 80px;
      width: 80px;
      border-radius: 50px;
      background-color: #4385C0;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center; }
      .nav-display-button div i {
        font-size: 230%;
        color: white; }
  nav {
    height: 100vh;
    width: 100%;
    padding: 50px 20px;
    position: fixed;
    left: 100%;
    background-color: rgba(37, 37, 37, 0.8);
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start; }
    nav a {
      font-size: 1.8rem;
      margin: 18px 0px; }
    nav .nav-close-button {
      color: white;
      font-size: 2.3rem;
      display: inline-block;
      position: relative;
      left: 80%; }
  .nav-visible {
    left: 0%; }
  .main-section {
    padding: 0px;
    flex-flow: column-reverse nowrap; }
    .main-section div {
      width: 100%; }
  section.main-section div:nth-child(1) {
    height: 45%; }
  section.main-section div:nth-child(2) {
    height: 55%; }
    section.main-section div:nth-child(2) div {
      height: 100%;
      width: 100%;
      border-radius: 0px;
      border: none; }
  .bio {
    padding: 0px 15px; }
  .works-container {
    padding-top: 25px;
    justify-content: center; }
    .works-container .books-container {
      height: 60%; }
    .works-container .articles-container {
      height: 60%; }
    .works-container .colabs-container {
      height: 60%; }
  footer {
    padding: 0px;
    justify-content: space-around; }
    footer div {
      flex-flow: column nowrap;
      justify-content: center; }
      footer div div {
        width: 100%;
        height: auto;
        margin: 50px 0px;
        align-items: center; }
        footer div div h3 {
          text-align: center; }
        footer div div a, footer div div p {
          padding: 15px 0px; } }
