* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

html {
  scroll-behavior: smooth; }

header {
  height: 100vh; }

.title {
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center; }

nav {
  height: 7vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: red; }
  nav a {
    margin: 0px 2%; }

.title-main {
  height: 83vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }
  .title-main div {
    height: 100%;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
  .title-main div:nth-child(1) div {
    height: 60%;
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid red; }
    .title-main div:nth-child(1) div h2, .title-main div:nth-child(1) div p {
      text-align: left; }
  .title-main div:nth-child(2) {
    background-image: url(../assets/mainpic.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

section {
  height: 100vh;
  width: auto;
  padding: 0px 10vw; }

.works-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center; }
  .works-container .books-container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .works-container .books-container div {
      height: 90%;
      width: 30%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-around; }
      .works-container .books-container div div {
        height: 85%;
        width: 100%;
        background-color: aqua; }
  .works-container .articles-container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .works-container .articles-container div {
      height: 90%;
      width: 30%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-around; }
      .works-container .articles-container div div {
        height: 85%;
        width: 100%;
        background-color: aqua; }
  .works-container .colabs-container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .works-container .colabs-container div {
      height: 90%;
      width: 30%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-around; }
      .works-container .colabs-container div div {
        height: 85%;
        width: 100%;
        background-color: aqua; }

footer {
  height: 100vh;
  width: auto;
  padding: 0px 10vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center; }
  footer div {
    height: 90%;
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: space-evenly; }
    footer div div {
      height: 100%;
      width: 50%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      text-align: center; }
      footer div div h3, footer div div p, footer div div a {
        padding: 10px 0px; }
  footer .copyright {
    width: 100%;
    height: 10%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
