//COLORS
$black: #252525;
$gray: #686868;
$dark-blue: #4385C0;
$blue: #689ECD;
$light-blue: #8EB7DB;
$light-background: rgb(233, 238, 242);
$dark-blue-transparent: rgba(67, 133, 192, 0.0);
$black-transparent: rgba(37, 37, 37, 0.0);
$black-semi-transparent: rgba(37, 37, 37, 0.8);

//FONTS
$merri: 'Merriweather', serif;
$frank: 'Frank Ruhl Libre', serif;
$dmsans: 'DM Sans', sans-serif;


@mixin cards-containers-responsive{
    height: 80%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

@mixin card-responsive{
    height: 90%;
    width: 30%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

@mixin card-image-responsive{
    height: 85%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin link-animation-transition ($color){
    border-width: 0 0 1.5px 0;
    border-style: solid;
    border-color: $color;
    transition: all 0.5s;
}

@mixin link-animation-hover ($color){
    border-color: $color;
}

h1, h2, h3, h4, h5 {
    font-family: $merri;
    font-weight: 300;
}

h1{ font-size: 2rem; }
h2{ font-size: 1.4rem; }
h3{ font-size: 1.2rem; }
h4{ font-size: 1.2rem; }
h5{ font-size: 1.1rem; }

p {
    font-family: $frank;
}

a{
    font-family: $dmsans;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

header{
    height: 100vh;
    position: relative;
}

header{
    height: 10vh;
    padding: 0 14vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    a{
        color: $dark-blue;
        margin: 0 3px;
        transition: all 0.5s;
        i{
            font-size: 22px;
        }
    }

    a:hover{
        color: $black;
    }
}

.nav-display-button{
    display: none;
}

.nav-close-button {
    display: none;
}

nav{
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: $dark-blue;
    
    position: sticky;
    top: 0px;

    transition: all 0.5s;

    a{
        margin: 0px 2%;
        font-size: 15px;
        font-weight: 700;
        color: white;
        @include link-animation-transition($dark-blue-transparent)
    }

    a:hover{
        @include link-animation-hover(white)
    }
}

.transparent-nav{
    background-color: $black-semi-transparent;
}

.transparent-nav-link{
    border-color: $black-transparent;
}

.main-section{
    height: 80vh;
    width: 100%;
    padding: 0px 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    div{
        height: 90%;
        width: 40%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    div:nth-child(1){
        div{
            height: 50%;
            width: 80%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;

            h2, p{
                text-align: left;
                margin: 10px 0px;
            }

            a{
                color: $dark-blue;
                font-family: $frank;
                
                @include link-animation-transition(white)
            }

            a:hover{
                @include link-animation-hover($dark-blue)
            }
        }
    }

    div:nth-child(2){
        div{
            height: 380px;
            min-height: 380px;
            width: 380px;
            min-width: 380px;
            background-image: url(../assets/mainpic.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border: 5px solid $black;
            border-radius: 500px;
            overflow: hidden;
        }
    }
}

.bio {
    height: 100vh;
    width: auto;
    padding: 0px 10vw;
    background-color: $light-blue;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    div{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    h2 {
        margin: 20px 0px;
    }

    p{
        line-height: 150%;
    }
}

section{
    height: 100vh;
    width: auto;
    padding: 0px 10vw;
}

.works-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;

    .books-container{
        @include cards-containers-responsive;

        div {
            @include card-responsive;
            div {
                @include card-image-responsive;
            }
        }

        div:nth-child(1) div{ background-image: url('../assets/book1.webp'); }
        div:nth-child(2) div{ background-image: url('../assets/book2.jpg'); }
        div:nth-child(3) div{ background-image: url('../assets/book3.jpg'); }
        
    }

    .books-container--mobile{
        display: none
    }

    .articles-container{
        @include cards-containers-responsive;

        div {
            @include card-responsive;
            div {
                @include card-image-responsive;
            }
        }

        div:nth-child(1) div{ background-image: url('../assets/book1.webp'); }
        div:nth-child(2) div{ background-image: url('../assets/book2.jpg'); }
        div:nth-child(3) div{ background-image: url('../assets/book3.jpg'); }
    }

    .colabs-container{
        @include cards-containers-responsive;
        padding-bottom: 40px;

        div {
            @include card-responsive;
            div {
                @include card-image-responsive;
            }
        }

        div:nth-child(1) div{ background-image: url('../assets/book1.webp'); }
        div:nth-child(2) div{ background-image: url('../assets/book2.jpg'); }
        div:nth-child(3) div{ background-image: url('../assets/book3.jpg'); }
    }
}

footer{
    height: 100vh;
    width: auto;
    padding: 0px 10vw;
    background-color: $dark-blue;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    div{
        height: 90%;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

        div{
            height: 100%;
            width: 40%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;

            i{
                color: white;
                margin-right: 5px;
            }

            h3, p, a {
                padding: 10px 0px;
                color: $black;
                font-family: $dmsans;
                
            }

            h3{
                font-weight: bolder;
            }
        }
    }

    .copyright {
        width: 100vw;
        height: 10%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background-color: $black;
        color: white;
        font-size: 12px;

        p{
            font-family: $dmsans;
            font-weight: lighter;
        }

        a{
            color: white;
        }

        a:hover{
            span{
                color: aquamarine;
                transition: all 0.5s;
            }
        }
    }
}

// RESPONSIVE DESIGN FOR SMALL LAPTOPS AND TABLETS
@media (max-width: 998px) and (min-width: 768px){

    header{
        padding: 0px;
        justify-content: space-evenly;
    }

    section{
        padding: 0px 5vw;
    }

    .main-section{
        padding: 0px;

        div{
            width: 50%;
        }

        div:nth-child(2) div{
            height: 330px;
            min-height: 330px;
            width: 330px;
            min-width: 330px;
        }
    }

    .bio{
        padding: 0px 5vw;
    }

    .works-container{
        padding-top: 25px;
        justify-content: center;

        .books-container{
            height: 60%;
        }

        .articles-container{
            height: 60%;
        }
        
        .colabs-container{
            height: 60%;
        }
    }
    
    footer{
        div{
            div{
                h3{
                    font-size: 1rem;
                }
                a, p{
                    font-size: 0.8rem;
                }
            }
        }
    }
}

// RESPONSIVE DESIGN FOR SMARTPHONES
@media (max-width: 768PX){

    header{
        height: 20vh;
        padding: 0px 15px;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: flex-start;

        h1{
            font-size: 2rem;
        }

        div a i{
            margin-right: 10px;
            font-size: 2.3em;
        }
    }

    .nav-display-button{
        height: 0px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: sticky;
        top: 50px;
        z-index: 100;

        div{
            height: 80px;
            width: 80px;
            border-radius: 50px;
            background-color: $dark-blue;
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            
            i{
                font-size: 230%;
                color: white;
            }
        }
        
    }

    nav{
        height: 100vh;
        width: 100%;
        padding: 50px 20px;
        position: fixed;
        left: 100%;
        z-index: 1000;
        background-color: $black-semi-transparent;

        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        a{
            font-size: 1.8rem;
            margin: 18px 0px;
        }

        .nav-close-button{
            color: white;
            font-size: 2.3rem;
            display: inline-block;
            position: relative;
            left: 80%;
        }
    }

    .nav-visible{
        left: 0%;
    }

    .main-section{
        padding: 0px;
        flex-flow: column-reverse nowrap;

        div{
            width: 100%;
        }
    }

    section.main-section div:nth-child(1){
        height: 45%;
        width: 95%;

        div {
            h2{
                font-size: 110%;
                margin: 1px;
            }
            p{
                margin: 5px;
            }
        }
    }

    section.main-section div:nth-child(2){
        height: 55%;
        overflow: hidden;

        div{
            height: 100%;
            width: 100%;
            border-radius: 0px;
            border: none;
        }
    }

    .bio{
        padding: 0px 15px;
    }

    .works-container{
        padding-top: 25px;
        justify-content: center;

        .books-container { display: none; }
        .articles-container { display: none; }
        .colabs-container { display: none; }

        @mixin carousel-inner-item-caption{
            .carousel-inner{
                height: 100%;

                .carousel-item{
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;

                    .carousel-caption{
                        padding: 2rem 30px;
                        width: 100vw;
                        height: auto;
                        right: 0px;
                        left: 0px;
                        bottom: 0px;
                        background-color: rgba(37, 37, 37, 0.6);
                        background-image: none !important;
                    }
                }
            }
        }

        @include carousel-inner-item-caption();

        .books-container--mobile{
            display: block;
            height: 90%;
            width: 100vw;
            @include carousel-inner-item-caption();

            .carousel-inner{
                div.carousel-item:nth-child(1){
                    background-image: url('../assets/book1.webp');
                }
            
                div.carousel-item:nth-child(2){
                    background-image: url('../assets/book2.jpg');
                }
    
                div.carousel-item:nth-child(3){
                    background-image: url('../assets/book3.jpg');
                }
            }   
        }

        .articles-container--mobile{
            display: block;
            height: 90%;
            width: 100vw;
            @include carousel-inner-item-caption();

            .carousel-inner{
                div.carousel-item:nth-child(1){
                    background-image: url('../assets/book1.webp');
                }
            
                div.carousel-item:nth-child(2){
                    background-image: url('../assets/book2.jpg');
                }
    
                div.carousel-item:nth-child(3){
                    background-image: url('../assets/book3.jpg');
                }
            }   
        }

        .colabs-container--mobile{
            display: block;
            height: 90%;
            width: 100vw;
            margin-bottom: 50px;
            @include carousel-inner-item-caption();

            .carousel-inner{
                div.carousel-item:nth-child(1){
                    background-image: url('../assets/book1.webp');
                }
            
                div.carousel-item:nth-child(2){
                    background-image: url('../assets/book2.jpg');
                }
    
                div.carousel-item:nth-child(3){
                    background-image: url('../assets/book3.jpg');
                }
            }   
        }
    }
    
    footer{
        padding: 0px 5px;
        justify-content: space-around;

        div{
            flex-flow: column nowrap;
            justify-content: center;

            div{
                width: 100%;
                height: auto;
                margin: 50px 0px;
                align-items: center;
                justify-content: center;

                h3{
                    text-align: center;
                    padding: 10px 0px;
                }

                a, p{
                    padding: 5px 0px;
                }
            }
        }
    }
}